<a href="https://colab.research.google.com/github/balandongiv/oop_ums/blob/master/lecture%207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Different ways of String Formatting

## String Formatting using concatenation

The simplest form of string formatting is concatenation, where you use the `+` operator to combine strings and values.

In [ ]:
# Example 1
a = 10
print("The value of a: " + str(a))

The value of a: 10

In [ ]:
# Example 2
a = 10
b = 20
print("a: " + str(a) + "\tb: " + str(b))

a: 10	b: 20

## String Formatting using `%` operator

`%` formatting uses placeholders and the `%` operator to insert values into a string.
Placeholders include `%s` for strings, `%d` for integers, `%f` for floating-point numbers, etc.

In [ ]:
 # Example 3
a = 10
print("The value of a: %s as a string" %a)
print("The value of a: %d as a integer" %a)
print("The value of a: %f as a floating-point numbers" %a)

The value of a: 10 as a string
The value of a: 10 as a integer
The value of a: 10.000000 as a floating-point numbers

In [ ]:
# Example 2
a = 10
b = 20

# \t is tab space
# Here, we are using two placeholders where a is an integer and b is a floating-point number
print("a: %d \tb: %f" % (a, b))

a: 10 	b: 20.000000

## String Formatting using `format()` method

---



The `str.format()` method uses curly braces `{}` as placeholders and the `format()` method to specify values to replace those placeholders.

In [ ]:
# Example 3
a = 10
print("The value of a: {0}".format(float(a)))

The value of a: 10.0

In [ ]:
# Example 4
a = 10
b = 20
print("a: {0:d}\tb: {1:.2f}".format(a, b))  # Here, d and f are format specifiers
print("a: {0} \tb: {1}".format(int(a), float(b))) # Here, int() and float() are type conversion functions and we just specify the values to replace the placeholders

a: 10	b: 20.00
a: 10 	b: 20.0

What is the issue with the example below?
Uncomment and run the code to see the error.

In [2]:
a = 10
b = 20
print("a: {3} \tb: {1}".format(int(a), float(b)))

IndexError: ignored

Turn out, there are many ways to use the `format()` method

In [ ]:
a,b,c=1,2,4
print("First={0}". format(a))
print("First={0}, Second={1}". format(a,b))
print("First={one}, Second={two}. Another alternative". format(one=a,two=b))
print("First={}, Second={}". format(a,b))

## F-Strings (Formatted String Literals)

F-strings are string literals that have an `f` at the beginning and curly braces containing expressions that will be replaced with their values.

In [ ]:
# Example 5
a = 10
print(f"The value of a: {a}")

In [ ]:
# Example 6
a,b = 10,20
print(f"a: {a} \tb: {b}")
print(f"a: {a} \tb: {b:.2f}")
print(f"a: {int(a)} \tb: {float(b)}")

## Template Strings

Template strings are a part of the string module and use `$` as placeholders for variables.
They offer a simple and safe way to perform string substitutions.

More detail available at [1](https://towardsdatascience.com/python-template-string-formatting-method-df282510a87a)

In [ ]:
# Example 7
from string import Template
a = 10
my_template=Template("The value of a: $a").substitute(a=a)
print(my_template)

In [ ]:
# Example 8
from string import Template
a,b = 10,20
my_template=Template("a: $a \tb: $b").substitute(a=a,b=b)
print(my_template)
print(Template("a: $a \tb: $b. This another approach").substitute(a=a,b=float(b)))

More detail the advantage and disadvantage of each of formating style is given in the following link:

https://realpython.com/python-f-strings/

In [9]:
a,b,c=1,2,4
print("First={0}". format(a))
print("First={0}, Second={1}". format(a,b))
print("First={one}, Second={two}. Another alternative". format(one=a,two=b))
print("First={}, Second={}". format(a,b))

First=1
First=1, Second=2
First=1, Second=2. Another alternative
First=1, Second=2