# CREATING PYTHON VARIABLES

Python variables are created with an assignment statement.

The syntax of $variable$ assignment is
	`variable name = a value (or an expression)`

For example, creating Python variable:

`x = expression`

Read as variable $x$ equals expression
We asking Python to store the value (or an `expression`) in a designated memory location, identified by the name $x$.

Expression can consist of either individual or combined elements such as 
* numerical values. 
    - For example, 1, 2, 3, 4, 5, etc.
* mathematical operators. 
    - For example, $+$, $-$, $*$, $/$, etc.
* variables. 
    - For example, $x$, $y$, $z$, etc.

This following cell is read as: 

variable $y$ is assigned a value of $22$
The compiler store the value of $22$ to a memory location, identified by the name $y$

In [33]:
y = 22

As mentioned above, expression with combined elements such as numerical values, mathematical operators, and variables.

| Expression                              | Description                                                                                     |
|-----------------------------------------|-------------------------------------------------------------------------------------------------|
| expression1 = 5 + 3                     | Addition of two numbers using numerical values                                |
| expression2 = 10 - 2                    | Subtraction of two numbers using numerical values                          |
| expression3 = expression1 * expression2 | Multiplication of two numbers by combining values from two variables with a mathematical operator |


<span style="color:red">It is worth noting that Python supports mathematical operations, including addition, subtraction, multiplication, and division. However, for the time being, our focus will be on variable creation.</span>

## MULTIPLE ASSIGNMENT

This notation is usefull for functions that return multiple values

In [3]:
a, b, c = 5, "hello", [1, 2]

In [8]:
# We can view the variable assignment using print

print(f'The value for a: {a},\n\tvalue for b: {b},\n\tvalue for c: {c}')

The value for a: 5,
	value for b: hello,
	value for c: [1, 2]

## OVERWRITING VARIABLE

 The value of a variable can be accessed and changed at any time after it is created.

In [14]:
x = 22
x= x - 2
print(f'The updated value of x, which was initially 22 and then decreased by 2, is {x}')

The updated value of x, which was initially 22 and then decreased by 2, is 20

Variables must be initialized before it can be used.

In [17]:
z= 22 + t

NameError: name 't' is not defined

## VISUALIZING THE CONTENTS OF VARIABLES

We can use the print method to vizualize the content of variable

In [18]:
someVariable = 10
print(someVariable)

10

You can even do combinations!

In [2]:
someVariable = 10

print("Your variable is ", someVariable)

Your variable is  10

I prefer to use the `f-string` method to display the variable values

In [20]:
print(f"Your variable is {someVariable}")

Your variable is 10

Sometimes, you may want to display the type of variable

In [3]:
print(f"Your variable is {someVariable} and it is of type {type(someVariable)}")

Your variable is 10 and it is of type <class 'int'>

## EXERCISE 1
What will the following code snippet print?

In [5]:
# a = 10
# b = a * 5
# c = "Your result is:"
print(c, b)

Your result is: 50

## EXERCISE 2

What will the following code snippet print?

In [6]:


# a = 10
# b = a
# a = 3
# print(b)

10

## RULES FOR NAMING VARIABLES

* Variable names are case sensitive.
  - $Hello$ is different from $hello$.
* Variable names may only contain alphabetic letters, underscores, or numbers.
* Variable names should not start with a number.
* Variable names cannot be any other Python keyword (e.g., if, while, def, etc.).
* Always give your variables meaningful names!

For more details about variable naming, you can refer to the [PEP 8 style guide](https://peps.python.org/pep-0008/).

## Case study

Say for example,we want to calculate the future value of an investment using the compound interest formula

Given the following:
* The starting amount of money you're starting with is $RM 100$.
* The annual interest rate is $5.0%$.
* An investment period of 7 years

We can calculate the future value of the investment using the compound interest formula, as below

\begin{equation}
A = P \left(1 + \frac{100r}{100}\right)^n
\end{equation}

Where:
- $A$ is the future value of the investment.
- $P$ is the principal amount (initial investment), which is 100 in this case.
- $r$ is the annual interest rate in decimal form, which is 0.05 (5% expressed as a decimal).
- $n$ is the number of years the money is invested for, which is 7 in this case.

There are two ways to write the code to calculate the future value of the investment

But, which one is better?



| Code 1                                  | Code 2                                                                 |
|----------------------------------------|------------------------------------------------------------------------|
|primary = 100                           | initial_amount = 100                                                   |
|r = 5.0                                 | interest_rate = 5.0                                                    |
|n = 7                                   | number_of_years = 7                                                    |
|amount = primary * (1+r/100)**n         | final_amount = initial_amount*(1 + interest_rate/100)**number_of_years |
|print(amount)                           | print(final_amount)                                                    |

In [18]:
# Code 1

primary = 100
r = 5.0
n = 7
amount = primary * (1+r/100)**n
print(f'The final amount after {n} years is RM {amount}')

The final amount after 7 years is RM 140.71004226562505

In [17]:
# Code 2
initial_amount = 100
interest_rate = 5.0
number_of_years = 7
final_amount = initial_amount*(1 + interest_rate/100)**number_of_years
print(f'The final amount after {number_of_years} years is RM {final_amount})')

The final amount after 7 years is RM 140.71004226562505)

# VARIABLE TYPES

## STANDARD DATA TYPES

## Python Data Types

Python supports various data types for representing different kinds of values. 

Here's a summary of some common data types in Python:

| Type             | Description                |
|------------------|----------------------------|
| Text Types       | `str`                      |
| Numeric Types    | `int`, `float`, `complex`  |
| Sequence Types   | `list`, `tuple`, `range`   |
| Mapping Type     | `dict`                     |
| Set Types        | `set`, `frozenset`         |
| Boolean Type     | `bool`                     |
| Binary Types     | `bytes`, `bytearray`, `memoryview` |
| None Type        | `NoneType`                 |

> Note: This information has been extracted from [w3schools](https://www.w3schools.com/python/python_datatypes.asp).

### Python Numbers

Python supports various numerical types to represent numbers.
There are three common different numerical types in Python:

* `int` (for integer)
    - Integers are whole numbers, such as 1, 2, 3, 4, 5, etc. They do not have a fractional component.it can be positive or negative.
* `float` (for floating-point number)
    - Floating-point numbers are numbers with a fractional component, such as $3.14159$, $0.0001$, $42.0$, etc. They can be either positive or negative.
* `complex` (for complex number)
    - Complex numbers are numbers with a real and imaginary component, such as $1.0 + 2.0j$, $1.5 + 2.5j$, etc.

As you can see later, python automatically assign the type of variable based on the value assigned to it. 
For example if $1$, then it will be an `integer`, if $1.0$, then it will be a `float`.

### integer

Integers are whole numbers, such as 1, 2, 3, 4, 5, etc. They do not have a fractional component.it can be positive or negative.

In [23]:
# Python automatically assigns a variable's type based on the assigned value.
# The 'type' function is used to determine the type of a variable.

# Assigning an integer value to 'val'
integer_value = 1

# Explicitly casting 1 to an integer and assigning it to 'dval'
converted_to_integer = int(1)

# Printing the types of 'val' and 'dval'
print(f'The variable val has type: {type(integer_value)}')
print(f'The variable dval has type: {type(converted_to_integer)}')

The variable val has type: <class 'int'>
The variable dval has type: <class 'int'>

Assignment via numeric operator also creates a number object:

In [27]:
# In Python, assignment via numeric operators creates number objects.

# Assigning an integer value
a,b = 3,4

# Performing a numeric operation, which creates a new number object.
c = a + b

# Printing the result
print(f'The value of c is: {c} and having the type: {type(c)}')

The value of c is: 7 and having the type: <class 'int'>

### float

Floating-point numbers are numbers with a fractional component, such as $3.14159$, $0.0001$, $42.0$, etc. They can be either positive or negative.

There are two ways to represent a float in Python.
* Fractional notation. For example, $3.14159$, $0.0001$, $42.0$, etc.
* Scientific (exponent) notation. For example, $1.0e-5$, $2.5e+3$, etc.

In [29]:
# To create a number in Fractional Form, you simply assign it to a variable
fractional_number = 675.456
print(f'The value of fractional_number is: {fractional_number} and having the type: {type(fractional_number)}')

The value of fractional_number is: 675.456 and having the type: <class 'float'>

To create a number in Exponent Notation, you can use the E notation (or e) to specify the exponent part.

In [30]:
exponent_number = 6.75456E2  # Equivalent to 6.75456 * 10^2
print(f'The value of exponent_number is: {exponent_number} and having the type: {type(exponent_number)}')

The value of exponent_number is: 675.456 and having the type: <class 'float'>

QUESTION 1
What is the type of c?

In [ ]:
# In Python, assignment via numeric operators creates number objects.

# Assigning an integer value
a,b = 3,4

# Performing a numeric operation, which creates a new number object.
c = a / b

# Printing the result
# print(f'The value of c is: {c} and having the type: {type(c)}')

### complex

Complex numbers are numbers with a real and imaginary component.Python represents complex numbers in the form a+bj.

For example, 
* $1.0 + 2.0j$ 
* $1.5 + 2.5j$

In [32]:
# Assigning a complex number to a variable
complex_number = 1.0 + 2.0j
print(f'The value of complex_number is: {complex_number} and having the type: {type(complex_number)}')

The value of complex_number is: (1+2j) and having the type: <class 'complex'>

### PYTHON STRING
A string is a group of valid characters, such as letters, numbers, spaces, symbols and special characters, that is enclosed within either single quotes (' ') or double quotes (" ").

A string can group any type of known characters, including letters, numbers, spaces, symbols and special characters.

A string object is a sequence, i.e., it's a list of characters where each item has a defined position.

This means that a string object is a collection of characters that are ordered and indexed. 

Each character in a string has a unique position, starting from <span style="color:red">0</span>. This allows us to access individual characters in a string by their position.

<img src="images/string_object_Sabah_bah.png" width="500" height="400">

Interestingly, we also can do backward indexing, which starts from <span style="color:red">-1</span> for the last character in the string.

In [39]:
my_text='Sabah bah'

print(f'To access the character at index 0 of my_text, you can use my_text[0], which returns: {my_text[0]}')

To access the character at index 0 of my_text, you can use my_text[0], which returns: S

In [41]:
# Accessing a slice from index 3 to the end of the string
slice1 = my_text[2:]
print(f'To get the characters from index 2 to the end of my_text, you can use my_text[3:], which returns: "{slice1}"')

# Accessing a slice from index 2 to 4 (excluding 5)
slice2 = my_text[2:5]
print(f'To extract characters from index 2 to 4 of my_text, you can use my_text[2:5], which returns: "{slice2}"')

To get the characters from index 3 to the end of my_text, you can use my_text[3:], which returns: "bah bah"
To extract characters from index 2 to 4 of my_text, you can use my_text[2:5], which returns: "bah"

In [51]:
my_text = 'Sabah bah'

# Accessing a slice from index -4 (inclusive) to the end of the string
slice1 = my_text[-7:]
print(f'To get the characters from index -7 to the end of my_text using backward indexing, you can use my_text[-4:], which returns: "{slice1}"')

# Accessing a slice from index -6 (inclusive) to index -3 (exclusive)
slice2 = my_text[-7:-4]
print(f'To extract characters from index -7 to -4 of my_text using backward indexing, you can use my_text[-6:-3], which returns: "{slice2}"')

To get the characters from index -7 to the end of my_text using backward indexing, you can use my_text[-4:], which returns: "bah bah"
To extract characters from index -7 to -4 of my_text using backward indexing, you can use my_text[-6:-3], which returns: "bah"

String objects support concatenation using the $+$ operator and repetition operations.

Concatenation is the process of combining two strings together to create a new string.
Naively, we can use the $+$ operator to concatenate two strings together.

In [56]:
my_text='Sabah bah'
new_text='ni!'
concat_text= my_text + ' '+ new_text
print(concat_text)

Sabah bah ni!

Repetition operations can be performed using the $*$ operator.

In [2]:
my_text='Sabah bah'
n_repeat=4
print(f'The string "{my_text}" repeated {n_repeat} times is: {my_text*n_repeat}')

The string "Sabah bah" repeated 4 times is: Sabah bahSabah bahSabah bahSabah bah

### PYTHON LIST

List is a more general sequence object that allows the individual items to be of different types.
* Equivalent to arrays in other languages.
* Lists have no fixed size and can be expanded or contracted as needed.
* 
*

A List in Python represents a list of comma separated values of any data type
between square brackets

In [6]:
# Creating a list containing integers
my_list = [1, 2, 3, 4, 5]

# Creating a list containing strings
my_list2 = ['a', 'b', 'c', 'd', 'e']

# Creating a list containing mixed data types
my_list3 = [1, 'a', 2, 'b', 3, 'c']

We can vizualize the list using the print method

In [7]:
print(f'The value of my_list is: {my_list}')
print(f'The value of my_list2 is: {my_list2}')
print(f'The value of my_list3 is: {my_list3}')

The value of my_list is: [1, 2, 3, 4, 5]
The value of my_list2 is: ['a', 'b', 'c', 'd', 'e']
The value of my_list3 is: [1, 'a', 2, 'b', 3, 'c']

Lists can be nested just like arrays, i.e., you can have a list of lists.

In [8]:
# Creating a list containing lists
my_nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(f'The value of my_nested_list is: {my_nested_list}')

The value of my_nested_list is: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Items in list can be retrieved using the index.

In [11]:
# Accessing the first item in my_list
print(f'The first item in my_list is: {my_list[0]}')

# Accessing the second item in my_list
print(f'The second item in my_list is: {my_list[1]}')

# Accessing the last item in my_list
print(f'The last item in my_list is: {my_list[-1]}')

The first item in my_list is: 1
The second item in my_list is: 2
The last item in my_list is: 5

To access the items in a nested list, you can use the same indexing method.

In [12]:
# Accessing the first item in the first list in my_nested_list
print(f'The first item in the first list in my_nested_list is: {my_nested_list[0][0]}')

# Accessing the second item in the first list in my_nested_list
print(f'The second item in the first list in my_nested_list is: {my_nested_list[0][1]}')

# Accessing the last item in the last list in my_nested_list
print(f'The last item in the last list in my_nested_list is: {my_nested_list[-1][-1]}')

The first item in the first list in my_nested_list is: 1
The second item in the first list in my_nested_list is: 2
The last item in the last list in my_nested_list is: 9

## DICTIONARIES

* Dictionaries are unordered mappings of ’Name: Value’ associations.
* Comparable to hashes and associative arrays in other languages.
* Intended to approximate how humans remember associations.

There are two ways to create a dictionary in Python.
First, you can create a dictionary using the curly braces $\{ \}$ notation.


`dictionary_name = {key1: value1, key2: value2, key3: value3}`

or

Second, you can create a dictionary using the `dict()` function.

`dictionary_name = dict(key1=value1, key2=value2, key3=value3)`


Where:
* `dictionary_name` is the name of the dictionary.
* `key1`, `key2`, and `key3` are the keys of the dictionary.
* `value1`, `value2`, and `value3` are the values associated with the keys.
* The keys and values are separated by a colon (:).
* The key-value pairs are separated by commas (,).
* The entire dictionary is enclosed within curly braces ({ }).
* The keys must be unique and immutable (i.e., they cannot be changed).
* The values can be of any type and can be duplicated.
* The keys and values can be of different types.

In [21]:
# Creating a dictionary using the curly braces notation {}
dog_dict = {
    "first_name": "Zoro",
    "last_name": "Google",
    "age": 5,
    "city": "Papar"
}

print(f'The value of dog is: \n {dog_dict}, \n and the type is: {type(dog_dict)}')

The value of dog is:
 {'first_name': 'Zoro', 'last_name': 'Google', 'age': 5, 'city': 'Papar'},
 and the type is: <class 'dict'>

In [22]:
# Creating a dictionary using the dict() function
dog_dict = dict(first_name="Zoro", last_name="Google", age=5, city="Papar")
print(f'The value of dog is: \n {dog_dict}, \n and the type is: {type(dog_dict)}')

The value of dog is:
 {'first_name': 'Zoro', 'last_name': 'Google', 'age': 5, 'city': 'Papar'},
 and the type is: <class 'dict'>

To add a new key-value pair to a dictionary, you can simply assign a value to a new key.

In [24]:
# Adding a new key-value pair to the dictionary
dog_dict["breed"] = "Malionois"
print(f'The new value of dog is: \n {dog_dict}, \n and the type is: {type(dog_dict)}')

The new value of dog is:
 {'first_name': 'Zoro', 'last_name': 'Google', 'age': 5, 'city': 'Papar', 'breed': 'Malionois'},
 and the type is: <class 'dict'>

It is also possible to update the value of an existing key.

In [25]:
# Updating the value of an existing key
dog_dict["age"] = 6
print(f'The new value of dog is: \n {dog_dict}, \n and the type is: {type(dog_dict)}')

The new value of dog is:
 {'first_name': 'Zoro', 'last_name': 'Google', 'age': 6, 'city': 'Papar', 'breed': 'Malionois'},
 and the type is: <class 'dict'>

To access the value associated with a key, you can use the square brackets notation.

In [27]:
# Accessing the value associated with the key "first_name"
first_name = dog_dict["first_name"]
print(f'The value associated with the key "first_name" is: {first_name}')

# Accessing the value associated with the key "last_name"
last_name = dog_dict["last_name"]
print(f'The value associated with the key "last_name" is: {last_name}')

# Accessing the value associated with the key "age"
age = dog_dict["age"]
print(f'The value associated with the key "age" is: {age}')

The value associated with the key "first_name" is: Zoro
The value associated with the key "last_name" is: Google
The value associated with the key "age" is: 6

It is also possible to access the value associated with a key using the `get()` method.

In [28]:
# Accessing the value associated with the key "first_name"
first_name = dog_dict.get("first_name")
print(f'The value associated with the key "first_name" is: {first_name}')

# Accessing the value associated with the key "last_name"
last_name = dog_dict.get("last_name")
print(f'The value associated with the key "last_name" is: {last_name}')

# Accessing the value associated with the key "age"
age = dog_dict.get("age")
print(f'The value associated with the key "age" is: {age}')

The value associated with the key "first_name" is: Zoro
The value associated with the key "last_name" is: Google
The value associated with the key "age" is: 6

It is also possible to delete a key-value pair from a dictionary using the `del` keyword.

In [29]:
# Deleting the key-value pair associated with the key "age"
del dog_dict["age"]
print(f'The new value of dog is: \n {dog_dict}, \n and the type is: {type(dog_dict)}')

The new value of dog is:
 {'first_name': 'Zoro', 'last_name': 'Google', 'city': 'Papar', 'breed': 'Malionois'},
 and the type is: <class 'dict'>

In [30]:
# Deleting the key-value pair associated with the key "Last_name"
del dog_dict["last_name"]
print(f'The new value of dog is: \n {dog_dict}, \n and the type is: {type(dog_dict)}')

The new value of dog is:
 {'first_name': 'Zoro', 'city': 'Papar', 'breed': 'Malionois'},
 and the type is: <class 'dict'>

## TUPLES

Tuples are immutable sequences of arbitrary objects.
* Comparable to structs in other languages.
* Tuples are immutable, which means that they cannot be changed once created.
* Tuples are created using the comma (,) notation.
* Tuples are enclosed within parentheses ().
* Tuples can contain any number of elements.
* Tuples can contain elements of different types.
* Tuples can be nested.
* Tuples can be indexed and sliced.
* Tuples can be unpacked.
* Tuples can be created using the tuple() function.
* Tuples can be created using the tuple constructor.
* Tuples can be created using the tuple comprehension.
* Tuples can be created using the zip() function.
* Tuples can be created using the map() function.
* Tuples can be created using the filter() function.
* Tuples can be created using the enumerate() function.
* Tuples can be created using the reversed() function.

### Creating a tuple using the comma (,) notation

In [31]:
# Creating a tuple containing integers
my_tuple = (1, 2, 3, 4, 5)
print(f'The value of my_tuple is: {my_tuple} and the type is: {type(my_tuple)}')

The value of my_tuple is: (1, 2, 3, 4, 5) and the type is: <class 'tuple'>

In [32]:
# Creating a tuple containing strings
my_tuple2 = ('a', 'b', 'c', 'd', 'e')
print(f'The value of my_tuple2 is: {my_tuple2} and the type is: {type(my_tuple2)}')

The value of my_tuple2 is: ('a', 'b', 'c', 'd', 'e') and the type is: <class 'tuple'>

In [33]:
# Creating a tuple containing mixed data types
my_tuple3 = (1, 'a', 2, 'b', 3, 'c')
print(f'The value of my_tuple3 is: {my_tuple3} and the type is: {type(my_tuple3)}')

The value of my_tuple3 is: (1, 'a', 2, 'b', 3, 'c') and the type is: <class 'tuple'>

In [34]:
# Creating a tuple containing a list
my_tuple4 = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
print(f'The value of my_tuple4 is: {my_tuple4} and the type is: {type(my_tuple4)}')

The value of my_tuple4 is: ([1, 2, 3], [4, 5, 6], [7, 8, 9]) and the type is: <class 'tuple'>

In [35]:
# Creating a tuple containing a dictionary
my_tuple5 = ({'a': 1, 'b': 2, 'c': 3}, {'d': 4, 'e': 5, 'f': 6}, {'g': 7, 'h': 8, 'i': 9})
print(f'The value of my_tuple5 is: {my_tuple5} and the type is: {type(my_tuple5)}')

The value of my_tuple5 is: ({'a': 1, 'b': 2, 'c': 3}, {'d': 4, 'e': 5, 'f': 6}, {'g': 7, 'h': 8, 'i': 9}) and the type is: <class 'tuple'>

In [36]:
# Creating a tuple containing a tuple
my_tuple6 = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(f'The value of my_tuple6 is: {my_tuple6} and the type is: {type(my_tuple6)}')

The value of my_tuple6 is: ((1, 2, 3), (4, 5, 6), (7, 8, 9)) and the type is: <class 'tuple'>

In [ ]:
# Creating a tuple containing a set
my_tuple7 = ({1, 2, 3}, {4, 5, 6}, {7, 8, 9})
print(f'The value of my_tuple7 is: {my_tuple7} and the type is: {type(my_tuple7)}')

In [37]:
# Creating a tuple containing a range
my_tuple8 = (range(1, 4), range(4, 7), range(7, 10))
print(f'The value of my_tuple8 is: {my_tuple8} and the type is: {type(my_tuple8)}')

The value of my_tuple8 is: (range(1, 4), range(4, 7), range(7, 10)) and the type is: <class 'tuple'>

In [ ]:
# Creating a tuple containing a boolean
my_tuple9 = (True, False, True)
print(f'The value of my_tuple9 is: {my_tuple9} and the type is: {type(my_tuple9)}')

In [38]:
# Tuples can be created using the tuple constructor.
my_tuple10 = tuple((1, 2, 3, 4, 5))
print(f'The value of my_tuple10 is: {my_tuple10} and the type is: {type(my_tuple10)}')

The value of my_tuple10 is: (1, 2, 3, 4, 5) and the type is: <class 'tuple'>

In [40]:
# Tuples can be created using the tuple comprehension
my_tuple11 = tuple(i for i in range(1, 6))
print(f'The value of my_tuple11 is: {my_tuple11} and the type is: {type(my_tuple11)}')

The value of my_tuple11 is: (1, 2, 3, 4, 5) and the type is: <class 'tuple'>

In [41]:
# Tuples can be created using the zip() function
my_tuple12 = tuple(zip(range(1, 6), range(6, 11)))
print(f'The value of my_tuple12 is: {my_tuple12} and the type is: {type(my_tuple12)}')

The value of my_tuple12 is: ((1, 6), (2, 7), (3, 8), (4, 9), (5, 10)) and the type is: <class 'tuple'>

In [42]:
# Tuples can be created using the map() function
my_tuple13 = tuple(map(lambda x: x, range(1, 6)))
print(f'The value of my_tuple13 is: {my_tuple13} and the type is: {type(my_tuple13)}')

The value of my_tuple13 is: (1, 2, 3, 4, 5) and the type is: <class 'tuple'>

In [44]:
# Tuples can be created using the filter() function
my_tuple14 = tuple(filter(lambda x: x % 2 == 0, range(1, 6)))
print(f'The value of my_tuple14 is: {my_tuple14} and the type is: {type(my_tuple14)}')

The value of my_tuple14 is: (2, 4) and the type is: <class 'tuple'>

In [45]:
# Tuples can be created using the enumerate() function
my_tuple15 = tuple(enumerate(range(1, 6)))
print(f'The value of my_tuple15 is: {my_tuple15} and the type is: {type(my_tuple15)}')

The value of my_tuple15 is: ((0, 1), (1, 2), (2, 3), (3, 4), (4, 5)) and the type is: <class 'tuple'>

In [46]:
# Tuples can be created using the reversed() function
my_tuple16 = tuple(reversed(range(1, 6)))
print(f'The value of my_tuple16 is: {my_tuple16} and the type is: {type(my_tuple16)}')

The value of my_tuple16 is: (5, 4, 3, 2, 1) and the type is: <class 'tuple'>

In [47]:
# To index a tuple, you can use the square brackets notation.
# Accessing the first item in my_tuple
print(f'The first item in my_tuple is: {my_tuple[0]}')

# Accessing the second item in my_tuple
print(f'The second item in my_tuple is: {my_tuple[1]}')

# Accessing the last item in my_tuple
print(f'The last item in my_tuple is: {my_tuple[-1]}')

The first item in my_tuple is: 1
The second item in my_tuple is: 2
The last item in my_tuple is: 5

## SETS

 Special data type introduced since <span style="color: red;">Python 2.4</span> onwards to support mathematical set theory operations.




Sets are unordered collections of unique elements.
The purpose of a set is to represent a collection of distinct elements.

Set itself is mutable, BUT every item in the set has to be an immutable type.

So, sets can have numbers, strings and tuples as items but cannot have lists or dictionaries as
items.

## BOOLEAN
Boolean values are the two constant objects False and True.
They are used to represent truth values (other values can also be considered false or true).
In numeric contexts (for example when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

In [ ]:
# Creating a boolean object
my_bool = True
print(f'The value of my_bool is: {my_bool} and the type is: {type(my_bool)}')

In [49]:
# Creating a boolean object
my_bool = False
print(f'The value of my_bool is: {my_bool} and the type is: {type(my_bool)}')

The value of my_bool is: False and the type is: <class 'bool'>

# range
The range type represents an immutable sequence of numbers and is commonly used for looping a specific number of times in for loops.

In [ ]:
# Creating a range object
my_range = range(1, 6)
print(f'The value of my_range is: {my_range} and the type is: {type(my_range)}')

# bytes
The bytes type is an immutable sequence of integers in the range 0 <= x < 256. It is used to represent a sequence of bytes (i.e., a byte string).

In [51]:
# Creating a bytes object
my_bytes = bytes(1)
print(f'The value of my_bytes is: {my_bytes} and the type is: {type(my_bytes)}')

The value of my_bytes is: b'\x00' and the type is: <class 'bytes'>

# SETS

• Special data type introduced since `Python 2.4` onwards to support mathematical set theory
operations.
• Unordered collection of unique items.
• Set itself is mutable, BUT every item in the set
has to be an immutable type.
• So, sets can have numbers, strings and tuples
as items but cannot have lists or dictionaries as
items.

# Casting Types
Python supports casting, which is the process of changing an object of one type into another type.

The purpose of casting is to convert a value from one type to another. It is important because sometimes we need to convert a value from one type to another.

For example, sometime we may perform mathematical operations on strings, which is not allowed in Python.

Which will result in 
`TypeError: unsupported operand type(s) for +: 'int' and 'str'`

In [52]:
# Performing a mathematical operation on a string
my_string = 1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

<span style="color: red;">Important lesson to remember!</span>

We can't do arithmetic operations on variables of different types. Therefore make
sure that you are always aware of your variables types!

To solve this problem, we must convert the string to an integer before performing the addition operation.

<span style="color: green;">Luckily Python offers us a way of convertin variables to different types!</span>

<span style="font-size: larger; font-weight: 700;">CASTING – THE OPERATION OF CONVERTING A VARIABLE TO A DIFFERENT TYPE</span>

In [53]:
# Performing a mathematical operation on a string
my_string = 1 + int("2")    
print(f'The value of my_string is: {my_string} and the type is: {type(my_string)}')

The value of my_string is: 3 and the type is: <class 'int'>

Similar method exist for other data types: 
* `int()` for integer
* `float()` for float
* `str()` for string

# QUESTION 2

What will be the output of the following code snippet?

and explain your answer

In [55]:
var_x="10"
var_y="20"
var_z=var_x + var_y

print(var_z)

1020

# Mutable vs. Immutable Objects in Python

In Python, objects can be either mutable or immutable.

* **Mutable objects** can be changed after they are created. This means that you can modify their internal state without creating a new object.
    * Examples of mutable objects in Python include:
        * Lists: `[1, 2, 3]`
        * Dictionaries: `{"key1": "value1", "key2": "value2"}`
        * Sets: `{1, 2, 3}`
        * Frozen sets: `frozenset({1, 2, 3})`
    * When you change a mutable object, you are actually creating a new object with the changed values. The original object is left unchanged.
* **Immutable objects** cannot be changed after they are created. This means that you cannot modify their internal state without creating a new object.
    * Examples of immutable objects in Python include:
        * Numbers: `1`, `2`, `3`
        * Strings: `"hello"`, `"world"`
        * Tuples: `(1, 2, 3)`

Here is a table that summarizes the key differences between mutable and immutable objects:

| Feature | Mutable Objects | Immutable Objects |
|---|---|---|
| Can be changed after they are created | Yes | No |
| When you change a mutable object, you are actually creating a new object | Yes | No |
| The original object is left unchanged | Yes | No |

For more in-depth information on mutable and immutable objects in Python, you can refer to this [comprehensive guide](https://www.mygreatlearning.com/blog/understanding-mutable-and-immutable-in-python/#:~:text=Mutable%20is%20when%20something%20is,store%20a%20collection%20of%20data).

### Example of modifying a mutable object

In [61]:
# Create some mutable
list_numbers = [1, 2, 3]

# Change the value of the first item in the list
list_numbers[0] = 4
print(list_numbers)

[4, 2, 3]

In [60]:
# Create some mutable
my_dict = {"key1": "value1", "key2": "value2"}

# Change the value associated with the key "key1"
my_dict["key1"] = "new_value1"
print(my_dict)

{'key1': 'new_value1', 'key2': 'value2'}

### Example of modifying an immutable object

In [62]:
# Create some immutable
my_tuple = (1, 2, 3)

# Change the value of the first item in the tuple
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment



<span style="color: red;">Here, we show that tuple are immutable, and this therefore maintains the integrity of the data during program execution.</span>

In [63]:
# Create some immutable
my_string = "hello"

# Change the value of the first character in the string
my_string[0] = "j"

TypeError: 'str' object does not support item assignment

As you can see, the immutable object strings cannot be changed after it is created.